@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/LandingPageLayout.cshtml";


}
<div>

    <p style="position: absolute;top: 20%;left: 10%;color: white;    font-size: 4em;
    font-family: ui-serif;">Welcome <span style="font-size:0.8em;color:gray">@User.Identity.Name</span></p>
    <div style="height:30px">
        <img style="margin-left: 25%;" src="~/assets/img/injection.svg" />

    </div>
    <div style="height:30px">
        <img style="width: 30%;
    margin-left: 68%;
    margin-top: 5%;"  src="~/assets/img/drugs.svg" />

    </div>
</div>
